/* Section */
.about {
 padding: 100px 20px;
  text-align: center;
  max-width: 900px;
  margin: auto;
  color: #e5e7eb;
}

/* Container */
.about-container {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  padding: 40px;
  border-radius: 20px;

}

.about-container:hover {
  box-shadow: 0 0 25px rgba(0, 238, 255, 0.3);
}

/* Title */
.section-title {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #0ef;
  text-align: center;
}

/* Text */
.about-text{
  font-size: 1.1rem;
  line-height: 1.8;
  background: rgba(255, 255, 255, 0.06);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  text-align: justify;
}

/* ================= FADE IN ANIMATION ================= */
.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}
