/* Section */
.about {
  padding: 100px 10%;
}

/* Container */
.about-container {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  padding: 40px;
  border-radius: 20px;

}

.about-container:hover {
  box-shadow: 0 0 25px rgba(0, 238, 255, 0.3);
}

/* Title */
.section-title {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #0ef;
}

/* Text */
.about p {
  font-size: 1.15rem;
  line-height: 1.7;
  margin-bottom: 16px;
  color: #cbd5f5;
}

/* ================= FADE IN ANIMATION ================= */
.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}
