.contact {
  padding: 100px 20px;
  text-align: center;
}

.contact.show {
  opacity: 1;
  transform: translateY(0);
}

.contact-box {
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.contact-box:hover {
  box-shadow: 0 0 25px rgba(0, 238, 255, 0.3);
}

.contact-form {
  max-width: 500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
}

.contact-form button {
  padding: 14px;
  border-radius: 30px;
  background: #0ef;
  color: #081b29;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.contact-icons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 1.6rem;
}

.contact-icons a {
  color: #0ef;
  transition: 0.3s;
}

.contact-icons a:hover {
  transform: scale(1.2);
}

/* Mobile */
@media (max-width: 600px) {
  .contact-box {
    padding: 30px 20px;
  }
}