.skills {
  padding: 100px 20px;
  color: #e5e7eb;
}

.section-title
{
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #0ef;
  text-align: center;
}

.skills-container {
  backdrop-filter: blur(8px);
  padding: 40px;
  border-radius: 20px;
}

.skills-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 30px;
}

/* Glass card */
.skill-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 30px 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.skill-card:hover {
  transform: translateY(-8px);
  background: rgba(255, 255, 255, 0.12);
}

/* Icon */
.skill-icon {
  font-size: 3rem;
  color: rgb(62, 203, 213);
  margin-bottom: 15px;
}

/* Skill name */
.skill-name {
  font-size: 1.1rem;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 600px) {
  .skills {
    padding: 80px 15px;
  }
}

/* Skill Group */
.skill-group {
  margin-top: 50px;
}

.group-title {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 25px;
  color: #38bdf8;
}

/* Skill level bar */
.skill-bar {
  width: 100%;
  height: 8px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.skill-progress {
  height: 100%;
  background: linear-gradient(90deg, rgb(17, 188, 200), #38bdf8);
  border-radius: 10px;
  transition: width 0.6s ease;
}

.skill-percent {
  display: block;
  margin-top: 8px;
  font-size: 0.85rem;
  color: #cbd5f5;
}
