html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
  min-height: 100vh;
     background: linear-gradient(
            rgba(10, 37, 101, 0.85),
            rgba(15, 23, 42, 0.85)
        ),
        url(https://unblast.com/wp-content/uploads/2021/01/Space-Background-Images.jpg) no-repeat center / cover;
        background-attachment: fixed;
        color: #ededed;
}
